<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Space News AI</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>🚀 Space News AI</h1>

{% for article in articles %}

<div class="card">

    <div class="source">
        {{ article.source }}
    </div>

    <h2>{{ article.title }}</h2>

    <div class="summary">
        {{ article.summary | replace('\n', '<br>') | safe }}
    </div>

    <div class="published">
        {{ article.published }}
    </div>

    <a href="{{ article.link }}" target="_blank">
        記事を見る →
    </a>

</div>

{% endfor %}

</body>

</html>